<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/x-icon" href="/static/icon.ico" />
		<link rel="icon" type="image/svg+xml" href="/static/icon.svg" sizes="any" />
		<title>Gastro-Systems | Das innovative Kassenprogramm</title>
		<meta name="theme-color" content="#1d1d1d" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#1d1d1d" />
		<meta name="description" content="Gastro Systems ist das innovative Kassensystem für die Gastronomie." />
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="language" content="de" />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<link href="https://static.onedash.de/icons/LineIcons.css" rel="stylesheet" />

		<meta name="keywords" content="Kasse,Kassensystem, Gastronomie, Gastrokasse" />
		<meta name="page-topic" content="Kasse, Gastronomie" />
	</head>

	<body>
		<!--					HEADER 							-->
		<%= require('html-loader!./pages/header.html').default %>

		<!--					DOWNLOAD						-->
		<%= require('html-loader!./pages/download.html').default %>
	</body>
</html>
